body {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    background-image: url("../images/background-notebook2.jpg");
    background-size: cover;
    background-position: 0px -150px;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#container {
    display: flex;
    justify-content: space-around;
}

#entryForm {
    display: flex;
    flex-direction: column;
    width: 630px;
    height: 520px;
    margin: 180px 0 0 0;
    padding: 20px 0;
    background-image: linear-gradient(#b1f7dc, #ffeed0);
    border-radius: 50px;
    box-shadow: 1 1 5px rgb(78, 78, 78);
    color: #000000af;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    border: 0;
}

fieldset > * {
    width: 150px;
    margin: 0 auto;
}

fieldset:hover {
    color: #ec7c12;
    font-style: bold;
}

.noBorder {
    border: none;
    box-shadow: 1px 1px 2px rgb(184, 184, 184);
}

label {
    text-align: center;
    margin-bottom: 5px;
}

#newEntry {
    text-align: center;
}

#moodAndConcepts {
    display: flex;
    justify-content: space-around;
    margin: 0 130px;
}

#mood {
    width: 110px;
}

#conceptsField > * {
    width: 200px;
}

.textField {
    font-family: 'Quicksand', sans-serif;
    width: 60%;
}

#entryForm_journalEntry {
    height: 200px;
    resize: none;
}

#submitButton {
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    color: #000000af;
    background-color: rgb(255, 228, 155);
    width: none;
    padding: 5px 8px 5px 25px;
    margin: 20px auto;
    border-radius: 5px;
    transition: 0.3s background-color;
}

#submitButton:hover {
    background-color: rgb(247, 255, 129);
    cursor: pointer;
}

#submitButton:active {
    box-shadow: inset 1px 1px 2px rgb(83, 83, 83);
    padding: 6px 8px 5px 26px;
}

#titleAndEntries {
    margin: 20px 315px 0 0;
    width: 600px;
    font-family: 'Annie Use Your Telescope', cursive;
    /* border: 3px solid red; */
}

#buttonsAndTitle {
    display: flex;
}

#dailyJournal {
    text-align: center;
    text-decoration: underline;
    width: 400px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 70px;
    color: #111111;
    /* border: 3px solid blue; */
}

#backButton {
    background-color: transparent;
    border: none;
}

#backButton:hover {
    cursor: pointer;
}

#forwardButton {
    background-color: transparent;
    border: none;
}

#forwardButton:hover {
    cursor: pointer;
}

.pageButtonImg {
    width: 72px;
    height: 30px;
    opacity: 15%;
}

.back {
    transform: rotate(200deg);
}

.forward {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1) rotate(20deg);
}

#entries {
    margin: 0;
    color: #111111;
    font-size: 27px;
    /* border: 3px solid green; */
}

.entry {
    margin-bottom: 40px;
}

.entryNumAndMood {
    display: flex;
    justify-content: space-between;
}

.entryNumber {
    font-style: bold;
}

.entryDelete {
    opacity: 0;
    transform: scale(0.8);
    margin-left: 5px;
    transition: opacity 0.3s;
}

.entryDelete:hover {
    opacity: 100%;
    cursor: pointer;
}

.dateAndConcept {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(161, 161, 161);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.date {
    text-align: right;
}

.mood {
    flex-grow: 2;
    text-align: right;
    color: rgb(151, 100, 5);
}

.concept {
    color: rgb(172, 53, 16);
}

.entryText {
    text-indent: 50px;
    margin-top: 0;
    word-wrap: break-word;
    font-size: 22px;
}

.rotate {
    transform: rotate(-1.8deg);
}